@import "/variables.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Define the size */
.svg-indicator {
  width: 100px;
  height: 100px;
  max-width: 100%;
  vertical-align: middle;
}

/* 
 * Add the center and the radius using the size 
 * and `stroke-width` values.
 */
.svg-indicator-track,
.svg-indicator-indication {
  cx: 50px;
  cy: 50px;
  r: 40px;
  fill: transparent;
  stroke-width: 10px;
}

/* Some color to highlight the rings */
.svg-indicator-track {
  stroke: var(--color-blue);
}

.svg-indicator-indication {
  stroke: var(--color-darkgray);
  stroke-dasharray: 251.2px;
  stroke-dashoffset: 188.4px;
}