@import "/variables.css";

@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components {
  .btn-primary {
    @apply mr-auto px-6 py-2 border-2 border-green rounded-sm bg-green text-darkgray hover:bg-darkgray hover:text-white hover:border-green;
  }
  .btn-alert {
    @apply mr-auto px-6 py-2 border-2 border-orange rounded-sm bg-orange text-darkgray hover:bg-darkgray hover:text-white hover:border-orange;
  }
  .btn-secondary {
    @apply mr-auto px-6 py-2 border-2 border-white rounded-sm bg-darkgray text-white hover:border-green;
  }
  .plant-week-graph-container {
    @apply flex flex-col place-items-center;
  }
  .plant-week-graph {
    @apply flex flex-col justify-end w-2 h-32 overflow-hidden rounded-full bg-darkgray flex-nowrap border-2 border-[#292929];
  }
  .input-field {
    @apply p-2 text-white rounded-sm bg-darkgray focus:ring-2 focus:outline-none focus:ring-inset focus:ring-green focus:border-b-0;
  }
}


/* Define the size */
.svg-indicator {
  width: 100px;
  height: 100px;
  max-width: 100%;
  vertical-align: middle;
}

/* 
 * Add the center and the radius using the size 
 * and `stroke-width` values.
 */
.svg-indicator-track,
.svg-indicator-indication {
  cx: 50px;
  cy: 50px;
  r: 40px;
  fill: transparent;
  stroke-width: 10px;
}

/* Some color to highlight the rings */
.svg-indicator-track {
  stroke: var(--color-green);
}

.svg-indicator-indication {
  stroke: var(--color-darkgray);
  stroke-dasharray: 251.2px;
  stroke-dashoffset: 188.4px;
}

article {
  margin-bottom: 2.5rem;
}

article:last-of-type {
  margin-bottom: 0;
}

h5 {
  margin-bottom: 1rem;
}